iaccelerate
appdirs
loralib
bitsandbytes==0.39.1
black
black[jupyter]
datasets
fire
transformers==4.36.2
sentencepiece
py7zr
scipy
optimum
numpy==1.26.4
git+https://github.com/huggingface/peft.git@v0.9.0
protobuf
scikit-learn
transformer_lens
colorama
circuitsvis
plotly